<%- contentFor('HeaderCss') %>
<!-- perticular page css -->
  

<%- contentFor('body') %>
<style>
    img#pic {
    height: 70px;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}
</style>
<div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Change Password</h4>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
      
                                        <form action="/changePassword" method="post" class="form-horizontal1">
                                            <div class="form-group row">
                                            <label for="inputName" class="col-sm-4 col-form-label">Old Password</label>
                                            <div class="col-sm-10">
                                                <input type="text" required value="" name="old_password" class="form-control" id="inputName" placeholder="Old Password">
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <label for="inputName" class="col-sm-4 col-form-label">New Password</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="New Password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd1" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');if(this.checkValidity()) form.pwd2.pattern = this.value;">
                                            </div>
                                            </div>
                                            <div class="form-group row">
                                            <label for="inputName" class="col-sm-4 col-form-label">Confirm Password</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" placeholder="Confirm Password" title="Please enter the same Password as above" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
                                            </div>
                                            </div>
                            
                                            <div class="form-group row">
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                            </div>
                                        </form>  
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
        

                    </div> <!-- container-fluid -->

                </div> <!-- content -->


<%- contentFor('FooterJs') %>