<%- contentFor('HeaderCss') %>
<!-- perticular page css -->

<%- contentFor('body') %>
            <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Dashboard</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">
                                            Welcome to Lexa Dashboard
                                        </li>
                                    </ol>

                                    <% include ../Partials/TinyCharts %>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-cube-outline float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Orders</h6>
                                                <h4 class="mb-4">1,587</h4>
                                                <span class="badge badge-info"> +11% </span> <span class="ml-2">From previous period</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-buffer float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Revenue</h6>
                                                <h4 class="mb-4">$46,782</h4>
                                                <span class="badge badge-danger"> -29% </span> <span class="ml-2">From previous period</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-tag-text-outline float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Average Price</h6>
                                                <h4 class="mb-4">$15.9</h4>
                                                <span class="badge badge-warning"> 0% </span> <span class="ml-2">From previous period</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-briefcase-check float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Product Sold</h6>
                                                <h4 class="mb-4">1890</h4>
                                                <span class="badge badge-info"> +89% </span> <span class="ml-2">From previous period</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
            
                       
                    </div> <!-- container-fluid -->
                </div> <!-- content -->

                <%- contentFor('FooterJs') %>
      <!--Morris Chart-->
      <script src="public/plugins/morris/morris.min.js"></script>
      <script src="public/plugins/raphael/raphael-min.js"></script>
      <script src="public/assets/pages/dashboard.js"></script>




