<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->
  
    <%- contentFor('body') %>
    
   
  
      
    <div class="content">
        <div class="container-fluid">
    
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Permission</h4>
                        <ol class="breadcrumb">
                          
                        </ol>
    
    
                    </div>
                </div>
            </div>
            <!-- end row -->
    
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
    
                            <!-- <h4 class="mt-0 header-title">Basic example</h4> -->
                            
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th><%= usersList[0].username  %></th>
                                  
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">Teacher</th>
                                    <td> 
                                        <% if(userRoleDetail[0]?.teacher){ %>
                                            <input type="checkbox" id="switch6" switch="primary" onclick="permissionClick('teacher','switch6')" checked/>
                                            <% } else{ %>
                                            <input type="checkbox" id="switch6" switch="primary" onclick="permissionClick('teacher','switch6')"/>
                                          <% } %>
                                        <label for="switch6" data-on-label="Yes" 
                                                data-off-label="No"></label></td>
                                   
                                </tr>
                                <tr>
                                    <th scope="row">School</th>
                                    <td> 
                                        <% if(userRoleDetail[0]?.school){ %>
                                            <input type="checkbox" id="switch7" switch="primary" onclick="permissionClick('school','switch7')" checked />
                                            <% } else{ %>
                                                <input type="checkbox" id="switch7" switch="primary" onclick="permissionClick('school','switch7')" />
                                                <% } %>
                                        <label for="switch7" data-on-label="Yes"
                                                data-off-label="No"></label></td>
                                   
                                </tr>
                                <tr>
                                    <th scope="row">Subadmin</th>
                                    <td>
                                        <% if(userRoleDetail[0]?.subAdmin){ %>
                                            <input type="checkbox" id="switch8" switch="primary"  onclick="permissionClick('subAdmin','switch8')" checked/>
                                            <% } else{ %>
                                                <input type="checkbox" id="switch8" switch="primary"  onclick="permissionClick('subAdmin','switch8')"/>
                                                <% } %>
                                        <label for="switch8" data-on-label="Yes"
                                                data-off-label="No"></label></td>
                                   
                                </tr>
                                <tr>
                                    <th scope="row">Customer Support</th>
                                    <td> 
                                        <% if(userRoleDetail[0]?.customerSupport){ %>
                                            <input type="checkbox" id="switch9" switch="primary" onclick="permissionClick('customerSupport','switch9')" checked/>
                                            <% } else{ %>
                                                <input type="checkbox" id="switch9" switch="primary" onclick="permissionClick('customerSupport','switch9')"/>
                                                <% } %>
                                        <label for="switch9" data-on-label="Yes"
                                                data-off-label="No"></label></td>
                                   
                                </tr>
                                <tr>
                                    <th scope="row">Dashboard</th>
                                    <td> 
                                        <% if(userRoleDetail[0]?.dashboard){ %>
                                            <input type="checkbox" id="switch10" switch="primary" onclick="permissionClick('dashboard','switch10')" checked/>
                                            <% } else{ %>
                                                <input type="checkbox" id="switch10" switch="primary" onclick="permissionClick('dashboard','switch10')"/>
                                                <% } %>
                                        <label for="switch10" data-on-label="Yes"
                                                data-off-label="No"></label></td>
                                   
                                </tr>
                                <tr>
                                    <th scope="row">Subscription Plan</th>
                                    <td> 
                                        <% if(userRoleDetail[0]?.subscriptionPlan){ %>
                                            <input type="checkbox" id="switch11" switch="primary" onclick="permissionClick('subscriptionPlan','switch11')" checked/>
                                            <% } else{ %>
                                                <input type="checkbox" id="switch11" switch="primary" onclick="permissionClick('subscriptionPlan','switch11')"/>
                                                <% } %>
                                        <label for="switch11" data-on-label="Yes"
                                                data-off-label="No"></label></td>
                                   
                                </tr>

                                <tr>
                                    <th scope="row">Teacher's Section</th>
                                    <td> 
                                        <% if(userRoleDetail[0]?.teacherSection){ %>
                                            <input type="checkbox" id="switch12" switch="primary" onclick="permissionClick('teacherSection','switch12')" checked/>
                                            <% } else{ %>
                                                <input type="checkbox" id="switch12" switch="primary" onclick="permissionClick('teacherSection','switch12')"/>
                                                <% } %>
                                        <label for="switch12" data-on-label="Yes"
                                                data-off-label="No"></label></td>
                                   
                                </tr>
                                </tbody>
                            </table>
    
                        </div>
                    </div>
                </div> <!-- end col -->
    
             
            </div> <!-- end row -->
    
    
        
        </div> <!-- container-fluid -->
    
    </div> <!-- content -->
    
     <script>
       function  permissionClick(module,id){
        if($('#'+ id).is(':checked')){
            var dash = true;
         }
        else{
            var dash = false; 
        } 
        var user_id=window.location.pathname.split('permission')[1];
        console.log(dash, window.location.pathname.split('permission')[1]);

        $.ajax({
            url: "/permissionUser",
            data : { module : module,value:dash,user_id:user_id },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(response) {
                $("#editId").val(response._id); //editWatumiaji
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $("#editfirstname").val("");
            }
        });
         }
     </script>
        <%- contentFor('FooterJs') %>




     
