<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->

    <%- contentFor('body') %>

        <style>
            button.btn.btn-primary.btn-sm.waves-effect.waves-light {
                margin-left: 90%;
            }

            .text-dark {
                color: #960a0a !important;
            }
        </style>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div class="card m-b-20"> -->

                        <div class="wrapper-page">
                            <div class="card">
                                <div class="card-block">

                                    <div class="ex-page-content text-center">
                                        <h1 class="text-dark">401!</h1>
                                        <h6 class=""><b>you have not permission for this module</b><br>
                                            Please!contact admin to get authentication for this module </h6><br>

                                        <!-- <a class="btn btn-info mb-5 waves-effect waves-light" href="/"><i class="mdi mdi-home"></i> Back to Dashboard</a> -->
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>










        <%- contentFor('FooterJs') %>