<%- contentFor('HeaderCss') %>
<!-- perticular page css -->
  

<%- contentFor('body') %>
<style>
    img#pic {
    height: 70px;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}
</style>
<div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Profile Details</h4>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-20">
                                    <div class="card-body">
      
                                <form action="/editProfile" method="POST" enctype="multipart/form-data">
                                        
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" value="<%= getUser[0].username%>" id="example-text-input" name="username">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="email" value="<%= getUser[0].email%>" name="email" id="example-email-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-tel-input" class="col-sm-2 col-form-label">Telephone</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="tel" value="<%= getUser[0].phoneNumber%>" name="number" id="example-tel-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-tel-input" class="col-sm-2 col-form-label">profile </label>
                                            <div class="col-sm-10">
                                                <img id="pic" src="./upload/<%= getUser[0].profileImage %>">
                                                <input class="form-control" type="file" value="<%= getUser[0].profileImage%>" name="picture" id="example-tel-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                            </div>
                                        </div>
                                        <!-- <button type="submit" onclick="window.open('/upload/1630054561692Screenshot from 2021-08-26 15-23-13.png')">Download!</button> -->

                                    </form>   
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
        

                    </div> <!-- container-fluid -->

                </div> <!-- content -->


<%- contentFor('FooterJs') %>