<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->
    <link href="public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('body') %>

        <style>
            button.btn.btn-primary.btn-sm.waves-effect.waves-light {
                margin-left: 90%;
            }
        </style>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title"> School </h4>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <!-- <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">add Subject</button> -->
                                <p class="text-muted m-b-30">

                                </p>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <!-- <th>createdAt</th> -->
                                            <th>Phonenumber</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(value) { %>
                                            <tr>
                                                <td>
                                                    <%=value.username%>
                                                </td>
                                                <td>
                                                    <%=value.email %>
                                                </td>
                                                <td>
                                                    <%=value.address%>
                                                </td>
                                                <!-- <td><%=moment(value.createdAt).format('DD-MM-YYYY') %></td> -->
                                                <td><b>
                                                        <%=value.country_code%>
                                                    </b>
                                                    <%=value.phoneNumber%>
                                                </td>
                                                <td>
                                                    <a href="deleteCandidate/School/?id=<%=value._id%>"
                                                        class="btn btn-primary" title="Delete"><i
                                                            class="ion-ios7-trash-outline"></i></a>
                                                    <a href="editCandidate?id=<%=value._id%>"
                                                        class="btn btn-primary btn-sm waves-effect waves-light"
                                                        data-toggle="modal" data-target=".bs-example-modal-lg"
                                                        onclick="editCandidate('<%=value._id%>')"><i
                                                            class="ion-edit"></i></a>
                                                    <a class="btn btn-primary" title="view"
                                                        class="btn btn-primary btn-sm waves-effect waves-light"
                                                        data-toggle="modal" data-target=".viewModel"
                                                        onclick="openCandidateDetail('<%=value._id%>')"><i
                                                            class="ion-ios7-eye"></i></a>

                                                    <% if(value.status) {%>

                                                        <a title="block user account"
                                                            href="updateUserStatus/School/0/?id=<%=value._id%>"><span
                                                                class="badge badge-warning">Active</span></a>
                                                        <% } %>
                                                            <% if(value.status==false) {%>

                                                                <a title="Activate user account"
                                                                    href="updateUserStatus/School/1/?id=<%=value._id%>"><span
                                                                        class="badge badge-warning">Blocked</span></a>
                                                                <% } %>

                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->


                </div> <!-- end row -->

            </div>
        </div>



        <!-- Edit modal  -->

        <div class="modal fade bs-example-modal-lg" id="editModel" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit School</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">

                            <!-- <h4 class="mt-0 header-title">School Edit</h4> -->
                            <!-- <p class="text-muted m-b-30">Here are examples of <code
                                    class="highlighter-rouge">.form-control</code> applied to each
                                textual HTML5 <code class="highlighter-rouge">&lt;input&gt;</code> <code
                                        class="highlighter-rouge">type</code>.</p> -->
                            <form method="POST" enctype="multipart/form-data" action="/editSchool">
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-sm-2 col-form-label">School name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" value="Artisanal kale"
                                            id="example-text-input" name="username">
                                        <input type="hidden" id="userId" name="id">

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="email" value="bootstrap@example.com"
                                            id="example-email-input" name="email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="example-tel-input" class="col-sm-2 col-form-label">Telephone</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="tel" value="1-(555)-555-5555"
                                            id="example-tel-input" name="number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-sm-2 col-form-label">Address</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" value="hunter2"
                                            id="example-address-input" name="address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-password-input" class="col-sm-2 col-form-label">Image</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="file" value="hunter2" id="example-image-input"
                                            name="file">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div>
                                        <button type="submit"
                                            class="btn btn-primary waves-effect waves-light">Submit</button>
                                        <!-- <button type="reset"
                                            class="btn btn-secondary waves-effect m-l-5">Cancel</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit modal close -->


        <!-- view detail -->
        <div class="modal fade  viewModel" id="viewModel" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">School Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">

                            <!-- <h4 class="mt-0 header-title">School Edit</h4> -->
                            <!-- <p class="text-muted m-b-30">Here are examples of <code
                        class="highlighter-rouge">.form-control</code> applied to each
                    textual HTML5 <code class="highlighter-rouge">&lt;input&gt;</code> <code
                            class="highlighter-rouge">type</code>.</p> -->
                            <!-- <form  method="POST" enctype="multipart/form-data" action="/editUser"> -->
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-sm-2 col-form-label">&nbsp;</label>
                                    <div class="col-sm-10" >
                                        <div id="container"></div>
                                       
                                    </div>
                                </div>
    

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">School name</label>
                                <div class="col-sm-10">
                                    <h6 class="school"></h6>
                                </div>
                            </div>

                            


                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <h6 class="example-email-input"></h6>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">Telephone</label>
                                <div class="col-sm-10">
                                    <h6 class="example-tel-input"></h6>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-password-input" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <h6 class="example-address-input"></h6>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                    <label for="example-password-input" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" value="hunter2" id="example-image-input" name="file">
                    </div>
                </div> -->

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">country_code</label>
                                <div class="col-sm-10">
                                    <h6 class="experience"></h6>
                                </div>
                            </div>
                          
                            <!-- <div class="form-group row">
                    <label for="example-password-input" class="col-sm-2 col-form-label">Resume</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" value="resume" id="resume" name="profile">
                    </div>
                </div> -->

                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- view detail open -->


        <%- contentFor('FooterJs') %>




            <script src="public/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
            <!-- Buttons examples -->
            <script src="public/plugins/datatables/dataTables.buttons.min.js"></script>
            <script src="public/plugins/datatables/buttons.bootstrap4.min.js"></script>
            <script src="public/plugins/datatables/vfs_fonts.js"></script>
            <script src="public/plugins/datatables/buttons.html5.min.js"></script>
            <script src="public/plugins/datatables/buttons.print.min.js"></script>
            <script src="public/plugins/datatables/buttons.colVis.min.js"></script>
            <!-- Responsive examples -->
            <script src="public/plugins/datatables/dataTables.responsive.min.js"></script>
            <script src="public/plugins/datatables/responsive.bootstrap4.min.js"></script>

            <!-- Datatable init js -->
            <script src="public/assets/pages/datatables.init.js"></script>


            <script>
                function deleteSubject(data) {
                    console.log(data);
                    $.ajax({
                        url: "/deleteSubject",
                        data: { id: data },
                        type: "GET",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            console.log(response)



                        },
                        error: function (xhr, ajaxOptions, thrownError) {


                        }
                    });
                }
                function editCandidate(data) {
                    console.log(data, 'data edit candidate');
                    // alert(argument)
                    $.ajax({
                        url: "/getUserDetail",
                        data: { candidate_id: data },
                        type: "GET",
                        contentType: "application/json",
                        success: function (response) {
                            console.log(response, 'response')
                            $("#userId").val(response._id);
                            $("#example-text-input").val(response.username);
                            $("#example-email-input").val(response.email);
                            $("#example-tel-input").val(response.phoneNumber);
                            $("#example-address-input").val(response.address);
                            $("example-image-input").val(response.profilePic);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError, 'error')
                            $("#example-text-input").val('');
                            $("#example-email-input").val('');
                            $("#example-tel-input").val('');
                            $("#example-address-input").val('');
                            $("example-image-input").val('');

                        }
                    });
                }
                function openCandidateDetail(data) {
                    console.log(data, 'data edit candidate');
                    $('#container').find('img').remove();
                    $.ajax({
                        url: "/getUserDetail",
                        data: { candidate_id: data },
                        type: "GET",
                        contentType: "application/json",
                        success: function (response) {
                            console.log(response)
                            $(".userId").html(response._id);
                            $(".school").html(response.username);
                            $(".example-email-input").html(response.email);
                            $(".example-tel-input").html(response.phoneNumber);
                            $(".example-address-input").html(response.address);
                            $(".experience").html(response.country_code);
                            // $('#img').html('<img src="./upload/'+response.profileImage+'" width="200px">');
                            $(`<img src='./upload/${response.profileImage}' height="50px" >`).appendTo('#container')
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError, 'error')
                            $(".example-text-input").html('');
                            $(".example-email-input").html('');
                            $(".example-tel-input").html('');
                            $(".example-address-input").html('');
                            $(".experience").html('');
                           

                        }
                    });
                }

                
            </script>