<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->
    <link href="public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('body') %>

        <style>
            button.btn.btn-primary.btn-sm.waves-effect.waves-light {
                margin-left: 90%;
            }
        </style>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">State List </h4>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light"
                                    data-toggle="modal" data-target=".bs-example-modal-lg">add State</button>
                                <p class="text-muted m-b-30">

                                </p>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>State</th>
                                            <th>created at</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(value) { %>
                                            <tr>
                                                <td><%=value.countryName %></td>
                                                <td>
                                                    <%=value.name %>
                                                </td>
                                                <td>
                                                    <%=moment(value.createdAt).format('DD-MM-YYYY') %>
                                                </td>
                                                <td>
                                                    <a href="deleteState<%=value._id%>" class="btn btn-primary"
                                                        title="Delete"><i class="ion-ios7-trash-outline"></i></a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">State</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/addState" method="POST">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Select Country</label>
                                <div class="col-sm-10">

                                    <select class="form-control country" name="country" required>
                                        <option value="">Select Country</option>
                                        <% data1.forEach(function(value) { %>
                                            <option value="<%=value._id %>">
                                                <%=value.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">State</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="example-text-input" name="state"
                                        required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                <div class="col-sm-10">
                                    <button type="submit"
                                        class="btn btn-success waves-effect waves-light ">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit modal  -->

        <div class="modal fade bs-example-modal-lg" id="editModel" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit State</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/saveEditState" method="POST" enctype="multipart/form-data">

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">State</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="username" name="state">
                                    <input type="hidden" name="editId" id="editId">
                                </div>

                                <div class="form-group row">
                                    <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                    <div class="col-sm-10">
                                        <button type="submit"
                                            class="btn btn-success waves-effect waves-light">Submit</button>
                                    </div>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit modal close -->

        <%- contentFor('FooterJs') %>


            <script src="public/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
            <!-- Buttons examples -->
            <script src="public/plugins/datatables/dataTables.buttons.min.js"></script>
            <script src="public/plugins/datatables/buttons.bootstrap4.min.js"></script>
            <script src="public/plugins/datatables/jszip.min.js"></script>
            <script src="public/plugins/datatables/pdfmake.min.js"></script>
            <script src="public/plugins/datatables/vfs_fonts.js"></script>
            <script src="public/plugins/datatables/buttons.html5.min.js"></script>
            <script src="public/plugins/datatables/buttons.print.min.js"></script>
            <script src="public/plugins/datatables/buttons.colVis.min.js"></script>
            <!-- Responsive examples -->
            <script src="public/plugins/datatables/dataTables.responsive.min.js"></script>
            <script src="public/plugins/datatables/responsive.bootstrap4.min.js"></script>

            <!-- Datatable init js -->
            <script src="public/assets/pages/datatables.init.js"></script>


            <script>
                $(document).ready(function () {
                    $("#formname").on('submit', function (e) {
                        console.log("Line no 181");
                        e.preventDefault();
                        var form = $("#formname")[0];
                        var data = new FormData(form);
                
                        $("select.country").change(function () {
                            var selectedCountry = $(".country option:selected").val();
                            var name = $(".country option:selected").text();
                            console.log(selectedCountry);
                            console.log(name, "lineno 186"); return false;

                            $.ajax({
                                type: "POST",
                                url: "/addState",
                                data: { country: selectedCountry, name: name,data:data },
                                success: function (data) {
                                    console.log(data);
                                }
                            });
                        });
                    });
                });
                function deleteState(data) {
                    console.log(data);
                    $.ajax({
                        url: "/deleteState",
                        data: { id: data },
                        type: "GET",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            console.log(response)



                        },
                        error: function (xhr, ajaxOptions, thrownError) {


                        }
                    });
                }
            </script>