<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->
    <link href="public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('body') %>
    
    <style>
        button.btn.btn-primary.btn-sm.waves-effect.waves-light {
    margin-left: 90%;
}
    </style>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Subadmin List </h4>
                            <% if(messages.success) {%>
                            <div class="alert alert-success" role="alert" >
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                <strong>successfully!!!</strong><%= messages.success %>
                            </div>
                            <% } %> 
                            <% if(messages.error) {%>
                                <div class="alert alert-danger" role="alert" >
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    
                                    <strong>error!!</strong> <%= messages.error %>
                                </div>
                                <% } %>
                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">add Subamin</button>
                                <p class="text-muted m-b-30">
                                  
                                </p>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Permission</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% getUser.forEach(function(value) {  %>
                                        <tr>
                                            <td><%=value.username %></td>
                                            <td><%=value.email %></td>
                                            <td><%=value.phoneNumber %></td>
                                            <td><a href="permission<%=value._id%>" class="btn btn-warning" title="Manage Permission"><i class="fa fa-lock"></i></a></td>
                                            <td>                               
                                                 <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-toggle="modal" data-target="#editModel" onclick="editSubadmin('<%=value._id%>')">Edit</button>
                                                 <a href="deleteSubadmin<%=value._id%>" class="btn btn-primary" title="Delete"><i class="ion-ios7-trash-outline"></i></a>

                                                </td>
                                        </tr>
                                       <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->


                </div> <!-- end row -->

            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Subadmin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/saveSubadmin" method="POST" enctype="multipart/form-data">
                                        
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text"  id="example-text-input" name="username" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="email"  name="email" id="example-email-input" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="tel"  name="number" id="example-tel-input" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">profile </label>
                                <div class="col-sm-10">
                                   
                                    <input class="form-control" type="file"  name="picture" id="example-tel-input" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">password </label>
                                <div class="col-sm-10">
                                  
                                    <input class="form-control" type="password"  name="password" id="example-tel-input" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Edit modal  -->

        <div class="modal fade bs-example-modal-lg" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit Subadmin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/saveEditSubadmin" method="POST" enctype="multipart/form-data">
                                        
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text"  id="username" name="username">
                                    <input type="hidden" name="editId" id="editId">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="email"  name="email" id="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="tel"  name="number" id="number">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">profile </label>
                                <div class="col-sm-10">
                                   
                                    <input class="form-control" type="file"  name="picture" id="picture">
                                </div>
                            </div>
                          
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Edit modal close -->

      

        <%- contentFor('FooterJs') %>




        <script src="public/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="public/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="public/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="public/plugins/datatables/jszip.min.js"></script>
        <script src="public/plugins/datatables/pdfmake.min.js"></script>
        <script src="public/plugins/datatables/vfs_fonts.js"></script>
        <script src="public/plugins/datatables/buttons.html5.min.js"></script>
        <script src="public/plugins/datatables/buttons.print.min.js"></script>
        <script src="public/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="public/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="public/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="public/assets/pages/datatables.init.js"></script>


        <script>
          function  editSubadmin(data){
                console.log(data);
                $.ajax({
            url: "/editSubadmin",
            data : { id : data },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(response) {
                console.log(response.editDetails)
                $("#editId").val(response.editDetails._id);
                $("#username").val(response.editDetails.username);
                $("#email").val(response.editDetails.email);
                $("#number").val(response.editDetails.phoneNumber);
                // $("#picture").val(response.editDetails.profileImage);
              
            },
            error: function(xhr, ajaxOptions, thrownError) {
                $("#editId").val(" ");
                $("#username").val(" ");
                $("#email").val(" ");
                $("#number").val(" ");
                $("#picture").val(" ");
            }
        });
            }
        </script>