<%- contentFor('HeaderCss') %>
    <!-- perticular page css -->
    <link href="public/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="public/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <%- contentFor('body') %>
    
    <style>
        button.btn.btn-primary.btn-sm.waves-effect.waves-light {
    margin-left: 90%;
}
    </style>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Plan List </h4>
                            <% if(messages.success) {%>
                                <div class="alert alert-success" role="alert" >
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    
                                    <strong>successfully!!!</strong><%= messages.success %>
                                </div>
                                <% } %> 
                                <% if(messages.error) {%>
                                    <div class="alert alert-danger" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

                                        <strong>Oh snap!</strong> <%= messages.error %>
                                    </div>
                                    <% } %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg">Add Plan</button>
                                <p class="text-muted m-b-30">
                                  
                                </p>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Plan</th>
                                            <th>Validity</th>
                                            <th>Charge</th>
                                            <th>created at</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(value) {  %>
                                            <tr>
                                                <td><%=value.subscription_name %></td>
                                                <td><%=value.validity %></td>
                                                <td><%=value.charge %></td>
                                                <td><%=moment(value.createdAt).format('DD-MM-YYYY') %></td>
                                                <td>                               
                                                    <a href="delete_subscription/<%=value._id%>" class="btn btn-primary" title="Delete"><i class="ion-ios7-trash-outline"></i></a>
                                                </td>
                                            </tr>
                                           <% }) %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->


                </div> <!-- end row -->

            </div>
        </div>

        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Subscription </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/addSubscription" method="POST" >
                                        
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Subscription Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text"  id="example-text-input" name="subscription_name" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Validity</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text"  id="example-text-input" name="validity" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Charge</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text"  id="example-text-input" name="charge" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control"  id="example-text-input" name="description" required></textarea>
                                </div>
                            </div>
                            <!-- description -->
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit modal  -->

        <div class="modal fade bs-example-modal-lg" id="editModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit Subject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form action="/saveEditSubject" method="POST" enctype="multipart/form-data">
                                        
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Subject</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text"  id="username" name="subject">
                                    <input type="hidden" name="editId" id="editId">
                                </div>
                         
                            <div class="form-group row">
                                <label for="example-tel-input" class="col-sm-2 col-form-label">&nbsp; </label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit modal close -->

      

        <%- contentFor('FooterJs') %>




        <script src="public/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="public/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="public/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="public/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="public/plugins/datatables/jszip.min.js"></script>
        <script src="public/plugins/datatables/pdfmake.min.js"></script>
        <script src="public/plugins/datatables/vfs_fonts.js"></script>
        <script src="public/plugins/datatables/buttons.html5.min.js"></script>
        <script src="public/plugins/datatables/buttons.print.min.js"></script>
        <script src="public/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="public/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="public/plugins/datatables/responsive.bootstrap4.min.js"></script>

        <!-- Datatable init js -->
        <script src="public/assets/pages/datatables.init.js"></script>


        <script>
          function deleteSubject(data){
                console.log(data);
                $.ajax({
            url: "/deleteSubject",
            data : { id : data },
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function(response) {
                console.log(response)    
            },
            error: function(xhr, ajaxOptions, thrownError) {
              
               
            }
        });
            }
        </script>