
 <footer class="footer">
                        © 2020 OTRA - <span class="d-none d-sm-inline-block"> Crafted with <i class="mdi mdi-heart text-danger"></i> by Maxtra Technologies</span>
                </footer>

    