     <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">Main</li>
                            <li>
                                <a href="/" class="waves-effect">
                                    <i class="mdi mdi-view-dashboard"></i><span> Dashboard </span>
                                </a>
                            </li>
                            <li>
                                <a href="teacherList" class="waves-effect"><i class="ion-android-contact"></i><span> Teacher </span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-people"></i><span> School <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li>
                                        <a href="newSchool" class="waves-effect"><i class="ion-ios7-home-outline"></i><span>New School </span></a>
                                    </li>
                                    <li>
                                        <a href="School" class="waves-effect"><i class="ion-ios7-home-outline"></i><span>School</span></a>
                                    </li>
                                   
                                </ul>

  
                            </li>
                           
                            <li>
                                <a href="subadmin" class="waves-effect"><i class="ion-android-contacts"></i><span> Subadmin </span></a>
                            </li>
                            <li class="menu-title">Teacher Module</li>
                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-people"></i><span> Section <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="subject">Subject </a></li>
                                    <li><a href="schoolType">School Type</a></li>
                                    <li><a href="experience">Experience </a></li>
                                    <li><a href="country">Country </a></li>
                                    <li><a href="state">State </a></li>
                                    <li><a href="city">City </a></li>
                                    <li><a href="hearedFrom">Heared From</a></li>
                                   
                                </ul>

  
                            </li>
                            <li>
                                <a href="subscription_list" class="waves-effect"><i class="ion-android-contacts"></i><span> Subscriptiopn Plan </span></a>

                            </li>

                            <li class="menu-title">Customer Support</li>
                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-people"></i><span> Customer Support <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="feedbackList">Feedback</a></li>
                                    <li><a href="queryList">Query</a></li>
                                   
                                </ul>
                            </li>
                           
                            <li class="menu-title">Settings</li>
                            <li>
                                <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-gear-outline"></i><span>Profile Management<span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                                <ul class="submenu">
                                    <li><a href="profile">View and edit profile</a></li>
                                    <li><a href="changePassword">Change Password</a></li>
                                   
                                </ul>
                            </li>

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->

 
           