<% include ../Partials/HeaderRoot  %>
        <div class="wrapper-page">
            <div class="card">
                <div class="card-block">

                    <div class="ex-page-content text-center">
                        <h1 class="text-dark">401!</h1>
                        <h6 class=""><b>you have not permission for this module</b><br>
                            Please!contact admin to get authentication for this module </h6><br>

                        <!-- <a class="btn btn-info mb-5 waves-effect waves-light" href="/"><i class="mdi mdi-home"></i> Back to Dashboard</a> -->
                    </div>
                </div>
            </div>

            <div class="m-t-40 text-center">
                <p>© 2020 Otra. Crafted with <i class="mdi mdi-heart text-danger"></i> by Maxtra Tchnologies </p>
            </div>

        </div>

        
        <% include ../Partials/FooterRoot  %>